@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Indie+Flower&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {
    height: 100vh;
    background-color: #000;
    background-image: url(img/chaulgnes.JPG);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 80%;
    grid-column-gap: 1rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
}

.header__title {
    padding: 80px 0;
}

h2 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    letter-spacing: .3rem;
}

h3 {
    color:#000;
    font-weight: bold;
    font-size: 1.1rem;
}

h4 {
    font-family: 'Satisfy', cursive;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
}

a:hover {
    color: darkorange;
}

    /* Header */
header {
    position: relative;
}

    /* Navbar */
.navbar {
   width: 100%;
   height: 3rem;
   /*max-width: 1200px;*/
   margin: 0 auto;
   display: flex; 
   align-items: center;
   justify-content: space-around;
   position: fixed;
   background: rgba(133, 133, 133, 0.6);
    backdrop-filter: blur(15px);
}

.navbar .logo a {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .6rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}

    /* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 210px;
    position: fixed;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

#home {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#home h1 {
    font-family: 'Courgette', cursive;
    font-size: 4rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 0.3em #000, 0 0 0.3em #000,
    0 0 0.3em #000, 
    -1px 0 #000, 0 1px #000,
    1px 0 #000, 0 -1px #000;
}

#home p {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    text-shadow: 0 0 0.3em #000, 0 0 0.3em #000,
    0 0 0.3em #000, 
    -1px 0 #000, 0 1px #000,
    1px 0 #000, 0 -1px #000;
}

#home .traduc {
    font-family: 'Courgette', cursive;
    font-size: .9rem;
    position: absolute;
    top: 820px;
    margin: 0 auto;
   
}

    /* evenement */
.evenement {
    background-color: #e4e4e4;
    padding-bottom: 50px;
}

.title__sub p {
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin: 0 auto 50px;
    font-size: 2.9rem;
}

.portrait {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image img {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #973333;
}

.image h4 {
    margin-top: 10px;
    text-align: center;
    font-size: 2.2rem;
}

    /* Main */
.contact {
    background-color: #e4e4e4;
}

.contact__subtitle {
    display: inline-block;
}

.contact__name {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
}

.contact__img img {
    width: 80%;
    margin: 0 auto;
    border-radius: .5rem;
    /*box-shadow: rgba(17, 17, 26, 0.1) 0px 16px 48px;*/
    box-shadow: rgba(0, 0, 0, 0.9) 0px 30px 90px;
}

    /* Plan */
.map {
    background-color: #e4e4e4;
    padding: 60px 0 50px;
}

.i-map {
    height: 50vh;
}

iframe {
	width: 80%;
	height: 100%;
	display: block;
    margin: auto;
}

    /* Footer */
.footer__date {
    background-color: #e4e4e4;
}

.footer__date {
    color:  #1f1f1f;
    font-size: .6rem;
    text-align: center;
    padding: .3rem;
}

    /* Responsiv design */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
    #home h1 {
        font-size: 2.5rem;
    }
    #home p {
        font-size: 1.5rem;
    }
    #home .traduc {
        top: 820px;
    }
    .portrait h4 {
        font-size: 1.5rem;
    }
    .title__sub p {
        font-size: 2.2rem;
    }
    .i-map {
        height: 30vh;
    }
    .contact__name {
        font-size: 1.3rem;
        margin-bottom: .5rem;
    }
    .contact__img img {
        width: 90%;
    }
    iframe {
        width: 70%;
    }
    
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    .navbar .logo a {
        font-size: 1rem;
    }
    #home h1 {
        font-size: 1.8rem;
    }
    #home p {
        font-size: 1rem;
    }
    .title__sub p {
        font-size: 1.5rem;
    }
    .image h4 {
        font-size: 1.3rem;
    }
    .contact__subtitle {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    .contact__name {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}