@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Indie+Flower&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,::before,::after {
    box-sizing: border-box;
}

span {
    color: darkorange;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0turn;
    inherits: true;
}

:root {
    --angle: 0turn;
    --dark-color: darkorange;
    --light-color: rgba(252, 196, 94, 0.6);
}

main {
    max-width: 100%;
    height: 100vh;
    background-image: url(img/chaulgnes.png);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

.container__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 80%;
    margin: auto;
}

.bd-grid {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1rem;
    width: calc(100% - 2rem);
    margin: 0 auto;
}

.header__title {
    padding: 80px 0;
}

.module__line {
    background: darkorange;
    width: 20%;
    height: 2px;
    margin: 0 auto;
}

h2 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 5px 0;
    letter-spacing: .3rem;
}

h3 {
    color:#000;
    font-weight: bold;
    font-size: 1.1rem;
}

h4 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin: 0;
    background-color: #bdbdbd50;
    padding: 15px 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
}

a:hover {
    color: darkorange;
}

    /* Header */
header {
    position: relative;
}

    /* Navbar */
.navbar {
   width: 100%;
   height: 3rem;
   /*max-width: 1200px;*/
   margin: 0 auto;
   display: flex; 
   align-items: center;
   justify-content: space-around;
   position: fixed;
   background: rgba(133, 133, 133, 0.6);
    backdrop-filter: blur(15px);
}

.navbar .logo a {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .6rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}

    /* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 210px;
    position: fixed;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

#home {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
}

#home h1 {
    font-family: 'Courgette', cursive;
    font-size: 4rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 0.3em #000, 0 0 0.3em #000,
    0 0 0.3em #000, 
    -1px 0 #000, 0 1px #000,
    1px 0 #000, 0 -1px #000;
    top: 250px;
    position: relative;
}

#home p {
    font-family: 'Courgette', cursive;
    font-size: 2.4rem;
    text-shadow: 0 0 0.3em #000, 0 0 0.3em #000,
    0 0 0.3em #000, 
    -1px 0 #000, 0 1px #000,
    1px 0 #000, 0 -1px #000;
    top: 600px;
    position: relative;
}

    /* evenement */
.evenement {
    height: 50%;
    background-color: #e4e4e4;
    padding-bottom: 50px;
}

.title__sub p {
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin: 0 auto 50px;
    font-size: 2.8rem;
    color: #575555;
}

.container__card img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: .5rem .5rem 0 0;
}

.container__card article {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    border: 1px solid darkorange;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 80px;
}

.container__card article .texte {
    background-color: #bdbdbd50;
    border-radius: 0 0 .5rem .5rem;
    padding: 15px;
}

.container__card article .texte p {
    display: flex;
    flex-direction: column;
    text-align:start;
}

    /* Date */
.date {
    background-color: #e4e4e4;
    padding-bottom: 50px;
}

.container__gif {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 60%;
    margin: auto;
}

.container__gif .gif {
    width: 80%;
    height: auto;
    margin: auto;
}

.container__gif .gif img {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid darkorange;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 10px 90px;
}

.container__gif .new__date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__gif .new__date .mois {
    border: 8px solid var(--light-color);
    padding: 1rem 2rem;
    border-image: conic-gradient(
        from var(--angle),
        var(--light-color),
        var(--dark-color) 0.1turn,
        var(--dark-color) 0.15turn,
        var(--light-color) 0.25turn
    )
    30;
    animation: borderAnim 1.5s linear infinite;
}

@keyframes borderAnim {
    100%{
        --angle: 1turn;
    }
}

.container__gif .new__date .mois p {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #575555;
    margin: 0 auto;
}

    /* Agapes */
.agapes {
    background-color: #e4e4e4;
    padding-bottom: 50px;
}

    /* Contact */
.contact {
    background-color: #e4e4e4;
    padding: 10px 0 40px;
}

.contact__subtitle {
    display: inline-block;
}

.contact__name {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
}

.contact__img {
    display: flex;
    justify-content: center;
}

.contact__img img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: .5rem;
    border: 1px solid darkorange;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 20px 90px;
}

    /* Plan */
.map {
    background-color: #e4e4e4;
    padding: 60px 0 50px;
}

.i-map {
    height: 50vh;
}

iframe {
	width: 80%;
	height: 100%;
	display: block;
    margin: auto;
}

    /* Footer */
.footer__date {
    background-color: #e4e4e4;
}

.footer__date {
    color:  #1f1f1f;
    font-size: .6rem;
    text-align: center;
    padding: .3rem;
    color: #575555;
}

    /* Responsiv design */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
    #home h1 {
        font-size: 2.5rem;
    }
    #home p {
        font-size: 1.5rem;
    }
    .portrait h4 {
        font-size: 1.5rem;
    }
    .title__sub p {
        font-size: 2.2rem;
    }
    .i-map {
        height: 30vh;
    }
    .contact__name {
        font-size: 1.3rem;
        margin-bottom: .5rem;
    }
    iframe {
        width: 70%;
    }
    
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    .navbar .logo a {
        font-size: 1rem;
    }
    #home h1 {
        font-size: 1.8rem;
    }
    #home p {
        font-size: 1rem;
    }
    .header__title h2 {
        font-size: 1.9rem;
    }
    .title__sub p {
        font-size: 1.5rem;
    }
    .portrait h4 {
        font-size: 1.3rem;
    }
    .contact__subtitle {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    .contact__name {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .contact__img {
        display: flex;
        justify-content: center;
    }
    .container__gif .gif img {
        width: 100%;
    }
    .container__gif .new__date .mois {
        font-size: 1rem;
        border: 5px solid var(--light-color);
        padding: 0.5rem 2rem;
    }
}